{% extends "base.html" %}

{% block content %}
    <meta charset="UTF-8">
    <div class="image_div">
            <img src="static/img/MARS-2-7.png" alt="Error">
    </div>
    <div class="text_div">
        <h2>Аварийный доступ</h2><br>
    </div>
    <div class="login">
        <label >Id астронавта</label><br>
        <input type="text" size="80">
    </div>
    <div class="login">
        <label >Пароль астронавта</label><br>
        <input type="text" size="80">
    </div>
    <div class="login">
        <label >Id капитана</label><br>
        <input type="text" size="80">
    </div>
    <div class="login">
        <label >Пароль капитана</label><br>
        <input type="text" size="80">
    </div>
    <button type="submit" class="btn btn-primary">Доступ</button>
{% endblock %}
